<!DOCTYPE html>
<html>
    <%= self.render("#{DirMap.html_views}/snippets/generic-head.html.erb") %>

    <body>
        <% self.body_fields.each do |field| %>
            <%= field.to_view(:html) %>
        <% end %>
    </body>
</html>
