<!DOCTYPE html>
<html>
    <%= self.render("#{DirMap.html_views}/snippets/generic-head.html.erb") %>

    <body>

        <div class="toc-wrap">
            <h1>Contents</h1>
            <div class="list-wrap">
                <%= self.fields[:group].render("#{DirMap.html_views}/groups/table-of-contents.html.erb") %>
            </div>
        </div>

    </body>
</html>
