<div class="field-wrap field-wrap--tags">
    <ul class="tags-list__wrap">
        <% self.attrs[:value].each do |tag| %>
            <li class="tags-list__item"><%= tag %></li>
        <% end %>
    </ul>
</div>
