<!DOCTYPE html>
<html>
    <%= self.render('../snippets/generic-head.html.erb') %>

    <body>
        <% self.body_fields.each do |field| -%>
            <% if (field.class == PlainText) -%>
                <%= field.render('../fields/plain-text.html.erb') %>
            <% elsif (field.class == Date) -%>
                <%= field.render('../fields/date.html.erb') %>
            <% end %>
        <% end %>
    </body>
</html>
