<!DOCTYPE html>
<html>
    <!-- will want to change this to a <head> that includes article-related fields, etc. -->


    <body>
        <% self.items.each do |item| %>
            <h2><%= item._meta._title.value %></h2>
            <p><%= item._meta._blurb.value %></p>
        <% end %>
    </body>
</html>
