<!DOCTYPE html>
<html>
    <%= self.render("#{DirMap.html_views}/snippets/generic-head.html.erb") %>

    <body>
        <%= self.render("#{DirMap.html_views}/fields/markdown-file.html.erb") %>
    </body>
</html>
