<div class="group__wrap">
    <h4 class="group-tag__copy"><%= self._meta._title.value %></h4>

    <div class="group-items__wrap">
        <% self._group.value.items.each do |item| %>
            <span class="group-item__title"><%= item._meta._title.value %></span>
        <% end %>
    </div>
</div>
