/*
 * HSL
 * H: hue: the hell along the wheel are you?
 * S: saturation: slide in and out through the circle
 * L: light: illuminate it
 */
/* @font-face { */
/*     font-family: 'CrimsonRoman'; */
/*     src: url('/fonts/crimson-roman-webfont.woff') format('woff'); */
/* } */
/* @font-face { */
/*     font-family: 'CrimsonBold'; */
/*     src: url('/fonts/crimson-bold-webfont.woff') format('woff'); */
/* } */
/* @font-face { */
/*     font-family: 'CrimsonItalic'; */
/*     src: url('/fonts/crimson-italic-webfont.woff') format('woff'); */
/* } */
/* @font-face { */
/*     font-family: 'CrimsonBoldItalic'; */
/*     src: url('/fonts/crimson-bolditalic-webfont.woff') format('woff'); */
/* } */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
  color: #3b3b3b;
  font-family: "Palatino Linotype", Palatino, Gentium, Times, "Times New Roman", serif;
  font-size: 17px/1.45; }

#carapace {
  position: relative;
  width: 100%;
  /* max-width: $wrap_max_width; */
  /* height: 100%; */
  margin: 0 auto 100vh auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
  background-color: white;
  border-bottom: 5px solid; }

.body-wrap,
.index-wrap,
.toc-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.body-wrap {
  padding: 60px 0px 60px 0px; }
  @media screen and (min-width: 720px) {
    .body-wrap {
      padding: 90px 20px 90px 20px; } }
  @media screen and (min-width: 960px) {
    .body-wrap {
      padding: 120px 0px 120px 0px; } }
  @media screen and (min-width: 1200px) {
    .body-wrap {
      padding: 150px 0px 150px 0px; } }

.index-wrap {
  padding: 60px 20px 60px 20px; }
  @media screen and (min-width: 400px) {
    .index-wrap {
      padding: 60px 20px 60px 20px; } }
  @media screen and (min-width: 720px) {
    .index-wrap {
      padding: 90px 20px 90px 20px; } }
  @media screen and (min-width: 960px) {
    .index-wrap {
      padding: 120px 0px 120px 0px; } }
  @media screen and (min-width: 1200px) {
    .index-wrap {
      padding: 150px 0px 150px 0px; } }

.toc-wrap {
  padding: 60px 0px 60px 0px; }
  @media screen and (min-width: 400px) {
    .toc-wrap {
      padding: 60px 0px 60px 0px; } }
  @media screen and (min-width: 720px) {
    .toc-wrap {
      padding: 90px 0px 90px 0px; } }
  @media screen and (min-width: 960px) {
    .toc-wrap {
      padding: 120px 0px 120px 0px; } }
  @media screen and (min-width: 1200px) {
    .toc-wrap {
      padding: 150px 0px 150px 0px; } }

.footer-wrap {
  position: relative;
  margin: 60px auto 0 auto;
  padding: 0;
  text-align: center; }

.list-wrap {
  margin: 60px auto 60px auto;
  padding: 0;
  font-size: 0;
  width: 100%;
  max-width: 480px; }

h1, h2, h3, h4, h6, h6 {
  display: block;
  position: relative;
  padding: 0 20px 0 20px;
  line-height: 100%;
  font-weight: 600; }

h1 {
  margin: 0 auto 0 auto;
  text-transform: uppercase; }

h2 {
  margin: 60px auto 0 auto;
  text-transform: uppercase; }

h3 {
  margin: 30px auto 0 auto; }

h4 {
  margin: 30px auto 0 auto; }

h5 {
  margin: 30px auto 0 auto; }

h6 {
  margin: 30px auto 0 auto; }

@media screen and (max-width: 399px) {
  h1 {
    font-size: 165%; }

  h2 {
    font-size: 150%; }

  h3 {
    font-size: 135%; }

  h4 {
    font-size: 125%; }

  h5 {
    font-size: 115%; }

  h6 {
    font-size: 100%; } }
@media screen and (min-width: 400px) {
  h1 {
    font-size: 175%; }

  h2 {
    font-size: 160%; }

  h3 {
    font-size: 155%; }

  h4 {
    font-size: 125%; }

  h5 {
    font-size: 115%; }

  h6 {
    font-size: 100%; } }
@media screen and (min-width: 720px) {
  h1 {
    font-size: 200%; }

  h2 {
    font-size: 185%; }

  h3 {
    font-size: 165%; }

  h4 {
    font-size: 135%; }

  h5 {
    font-size: 115%; }

  h6 {
    font-size: 100%; } }
@media screen and (min-width: 960px) {
  h1 {
    font-size: 250%; }

  h2 {
    font-size: 235%; }

  h3 {
    font-size: 195%; }

  h4 {
    font-size: 155%; }

  h5 {
    font-size: 115%; }

  h6 {
    font-size: 100%; } }
p, li {
  position: relative;
  font-size: 17px; }

p,
pre,
blockquote,
.body-wrap ol,
.body-wrap ul {
  margin: 20px auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 480px; }
  p:first-child,
  pre:first-child,
  blockquote:first-child,
  .body-wrap ol:first-child,
  .body-wrap ul:first-child {
    margin-top: 0; }
  @media screen and (max-width: 719px) {
    p,
    pre,
    blockquote,
    .body-wrap ol,
    .body-wrap ul {
      text-align: left; } }
  @media screen and (min-width: 720px) {
    p,
    pre,
    blockquote,
    .body-wrap ol,
    .body-wrap ul {
      text-align: justify; } }

@media screen and (max-width: 719px) {
  p,
  pre,
  blockquote,
  .body-wrap ol,
  .body-wrap ul,
  .footer-wrap {
    padding: 0 20px 0 20px; } }
@media screen and (min-width: 720px) {
  p,
  pre,
  blockquote,
  .body-wrap ol,
  .body-wrap ul,
  .footer-wrap {
    padding: 0; } }

p,
ul, ol,
pre, code,
blockquote {
  line-height: 152%; }

blockquote > * {
  max-width: none;
  width: 100%;
  padding: 0 0px 0 10px; }
  @media screen and (max-width: 719px) {
    blockquote > * {
      border-left: 2px solid rgba(59, 59, 59, 0.3); } }
  @media screen and (min-width: 720px) {
    blockquote > * {
      border-left: 2px solid rgba(59, 59, 59, 0.3); } }

pre, code {
  line-height: 155%;
  overflow: auto;
  font-family: monospace; }

pre > code {
  font-size: 107%; }

p > code {
  font-size: 93%; }

.body-wrap p + ol,
.body-wrap p + ul {
  margin-top: 0; }

@media screen and (max-width: 499px) {
  .body-wrap ol,
  .body-wrap ul {
    list-style-position: inside; } }
@media screen and (min-width: 500px) {
  .body-wrap ol,
  .body-wrap ul {
    list-style-position: outside; } }

.body-wrap ul {
  list-style-type: disc; }

li {
  margin: 0;
  padding: 0; }

.img-block {
  position: relative;
  display: block;
  margin: 30px auto 30px auto;
  padding: 0;
  width: 100%;
  text-align: center; }

.blockimg {
  display: block;
  margin: 30px auto 30px auto;
  padding: 0;
  max-width: 100%; }

img {
  max-width: 100%; }

.index-block {
  position: relative;
  margin: 60px auto 60px auto;
  padding: 0;
  max-width: 480px;
  font-size: 17px;
  text-align: left; }

.index-block-tag {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-style: italic;
  font-size: 161%;
  line-height: 100%;
  text-align: left;
  text-transform: none; }

.index-block-list {
  position: relative;
  margin: 5px 0px 0 20px;
  padding: 0;
  text-align: left;
  list-style: none; }

.index-list-item {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 144%; }

a {
  position: relative;
  text-decoration: none;
  color: #3b3b3b; }

.body-wrap a {
  box-shadow: inset 0 -2px 0 white, inset 0 -4px 0 #c7b7c8; }
.body-wrap a.visited {
  box-shadow: inset 0 -2px 0 white, inset 0 -4px 0 #f700ff; }
.body-wrap a:hover {
  box-shadow: inset 0 -2px 0 white, inset 0 -4px 0 #00a2ff; }
.body-wrap a:active {
  box-shadow: inset 0 -2px 0 white, inset 0 -4px 0 yellow; }

.nav-wrap a,
.index-wrap a {
  color: #615c61; }
.nav-wrap a.visited,
.index-wrap a.visited {
  color: #f700ff; }
.nav-wrap a:hover,
.index-wrap a:hover {
  color: #00a2ff; }
.nav-wrap a:active,
.index-wrap a:active {
  color: yellow; }

.image-block {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 60px 0px 60px 0px;
  border: 0; }

.img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%; }

.slide-img {
  display: block;
  max-width: 90%;
  max-height: 85vh;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center; }
  @media screen and (max-width: 719px) {
    .slide-img {
      max-width: 100%; } }
  @media screen and (min-width: 720px) {
    .slide-img {
      max-width: 90%; } }

.image-caption {
  margin: 0 auto;
  width: 95%;
  font-size: 88%;
  text-align: center; }

.toc-block {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 40px 30px 40px 30px;
  font-size: 17px;
  border: 0; }

.toc-block-title {
  margin: 0 auto 10px auto;
  font-size: 123%;
  line-height: 111%;
  text-align: center;
  text-transform: none; }
  @media screen and (min-width: 400px) {
    .toc-block-title {
      font-size: 124%; } }
  @media screen and (min-width: 720px) {
    .toc-block-title {
      font-size: 125%; } }
  @media screen and (min-width: 960px) {
    .toc-block-title {
      font-size: 126%; } }

.toc-block-blurb,
.toc-block-date {
  position: relative;
  margin: 10px auto 0 auto;
  padding: 0;
  text-align: center;
  font-style: italic; }

.toc-block-date {
  font-size: 88%;
  color: #878787; }

.toc-wrap-link {
  margin: 0;
  padding: 0;
  border: 0;
  color: #615c61;
  text-decoration: none; }
  .toc-wrap-link:hover .toc-block {
    background-color: #00a2ff; }
  .toc-wrap-link:hover .toc-txt-wrap {
    background-color: yellow;
    color: #615c61; }
  .toc-wrap-link:active .toc-block {
    background-color: yellow; }
  .toc-wrap-link:active .toc-txt-wrap {
    background-color: #f700ff;
    color: white; }
  .toc-wrap-link.visited .toc-block-title {
    color: #f700ff; }

.nav-wrap {
  position: relative;
  margin: 60px auto 60px auto;
  padding: 0;
  text-align: center; }

.nav-item {
  display: inline-block;
  margin: 0 1px 0 1px;
  padding: 0;
  font-size: 88%; }

.footer-date-line {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-size: 88%;
  font-style: italic;
  color: #878787; }

@media screen and (max-width: 719px) {
  .footer-date-cell {
    display: block;
    margin: 5px auto; } }
@media screen and (min-width: 720px) {
  .footer-date-cell {
    display: inline;
    margin: 0; } }

#bg-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  z-index: -1; }

#bio-title-case > div, #bio-title-case > h1 {
  margin: 10px auto 10px auto;
  padding: 0; }
#bio-title-case > div {
  font-size: 88%;
  line-height: 123%; }

.blocky {
  margin: 15px 0px 15px 0px; }
