<div class="form-field__wrap form-field__wrap--image">
    <% if self.get_out_val %>
        <input class="form-field__input form-field__input--file" type="file" value="<%= self.get_out_val %>" />
    <% else %>
        <input class="form-field__input form-field__input--file" type="file" value="<%= self.get_out_val %>" />
    <% end %>
</div>
