<div class="field-wrap field-wrap--image-and-text">
    <img class="field-image field-image--with-text" src="<%= self._file.get_out_val %>" />
    <% if (self._caption.get_out_val.length > 0) %>
        <span class="field-caption field-caption--with-image"><%= self._caption.get_out_val %></span>
    <% end %>
</div>
