<head>
    <title><%= self.fields[:meta].fields[:title].get_out_val %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script type="text/javascript" src="/main.js"></script>
</head>
