<!DOCTYPE html>
<html>
    <%= self.render("#{DirMap.html_views}/snippets/generic-head.html.erb") %>

    <body>
        <% self.view_fields(:html).each do |field| %>
            <%= field.to_view(:html) %>
        <% end %>

        <%
        Group.make(
            'local/entries/news',
            lambda do |file, items|
                if (File.extname(file) == ".yaml")
                    content = ::Base::Content.from_file(file)
                    if ((content.has_key?(:meta)) &&
                        (content[:meta].has_key?(:live)) &&
                        (content[:meta][:live]))
                        return content
                    else
                        return nil
                    end
                else
                    return nil
                end
            end,
            lambda do |items|
              items.sort do |fieldA, fieldB|
                  fieldA.fields[:meta].fields[:date].value <=> fieldB.fields[:meta].fields[:date].value
              end
            end
        ).items.each do |item|
        %>
            <%= item.to_view(:html) %>
        <% end %>
    </body>
</html>
