<div class="form-field__wrap form-field__wrap--image-and-text">
    <input class="form-field__input form-field__input--file" type="file" value="<%= self.fields[:file].get_out_val %> />
    <input class="form-field__input form-field__input--plaintext" type="text" value="<%= self.fields[:caption].get_out_val %>" />
</div>
